.item{
  padding: 24px;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;

  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.name{
  margin-bottom: 16px;
  color: #202124;
  word-wrap: break-word;
  font-size: 16px;
  letter-spacing: .1px;
  line-height: 24px;
}