.name{
  font-family: Roboto,
  Arial,
  sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 20px;
  color: #70757a;
  border-bottom:1px dotted #838383;
  width: 50%;
  padding-bottom: 5px;
}