.form {
  min-height: 100vh;
  padding-bottom: 65px;
}

.formCreate {
  padding: 0 15px;
}

.loader{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}