.item {
  display: flex;
  align-items: center;

  width: 100%;
}

.iconLeft {
  height: 48px;
  display: flex;
  align-items: center;

  color: #70757a;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;

  button{
    border:none;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background:transparent;

    &:hover {
      background: rgb(241, 237, 237);
    }
  }
}

.nameItem {
  margin-left: 10px;
  position: relative;
  flex: auto;
}

.hoverItem {
  position: absolute;
  content:"";
  z-index: 15;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  animation: slidein 0.3s ease-in-out both;
  
  @keyframes slidein {
    0% {
      width: 0%;
    }

    50%{
      width: 50%;
    }

    100% {
      width: 100%;
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 2px;
    background: #000;
  }
}

.addVAr{
  display: flex;
  align-items: center;
  

  button{
    font-family: Roboto,
    Arial,
    sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #70757a;
    cursor: pointer;
    border:none;
    background: transparent;
  }
}